<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".BuddyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/education"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.JIITBuddy"
        tools:targetApi="31">
        <provider
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:name="androidx.core.content.FileProvider">
            <meta-data
                android:resource="@xml/provider_paths"
                android:name="android.support.FILE_PROVIDER_PATHS"/>
        </provider>
        <activity
            android:windowSoftInputMode="adjustResize"
            android:name=".ui.presentation.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.JIITBuddy.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>